NOTION_INTERNAL_TOKEN=secret_xxx
NOTION_VERIFICATION_TOKEN=secret_verification_xxx
GITHUB_OWNER=happyzhangyyds
GITHUB_REPO=elog
GITHUB_TOKEN=github_pat_xxx
GITHUB_EVENT_TYPE=notion_publish
NOTION_ALLOWED_DATABASE_IDS=
NOTION_TYPE_PROPERTY=type
NOTION_REQUIRED_TYPE=Post
NOTION_STATUS_PROPERTY=status
NOTION_REQUIRED_STATUS=published
NOTION_TITLE_PROPERTY=title
